* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Tahoma;
    line-height: 1.6;
    background-color: #34495e;
    color: #333;
}

.header {
    background-color:  #bdc3c7 ;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

.header h1 {
    margin-bottom: 10px;
    font-family: Baskerville;
}

.navbar {
    background-color: #34495e;
}

.nav-list {
    display: flex;
    justify-content: center;
    list-style-type: square;
    padding: 0;
}

.nav-list li {
    margin: 10px 20px;
}

.nav-list a {
    color: white;
    text-decoration: Verdana;
    font-size: 18px;
}

.nav-list a:hover {
    text-decoration: underline;
    color: #ffcc00; 
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.content-item {
    background-color: white;
    flex: 0 1 calc(33% - 40px);
    margin: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.content-item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.content-item img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.content-item img:hover {
    transform: scale(1.05);
    opacity: 0.8;
}

.footer {
    background-color: #cccccc;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
